{% extends "layout.html" %}

{% block body %}
	
	<div class="content">
			{% if prediction is defined %}
                Exercise (no:1 yes:2): {{ exercise }}<br>
                Food Amount (not enough:1, sometimes enough:2, enough:3): {{ food_amount }}<br>
                Occupation Category (1-6): {{ cat_occ }}<br>
                Stores (1-5): {{ stores }}<br>
                <br>
                Income Level {{ prediction }}.
			{% else %}
				Please fill out the form below!
			{% endif %}
	</div>

	{% block page_content %}
	<div class="content">
		<form method="POST">

			{{ form.param1.label }} {{ form.param1() }}
			<br>
			{{ form.param2.label }} {{ form.param2() }}
			<br>
			{{ form.param3.label }} {{ form.param3() }}
			<br>
			{{ form.param4.label }} {{ form.param4() }}
			<br>
			<br>
			{{ form.submit() }}
		</form>
	</div>
	{% endblock %}


<script> var i =  [1,2,3] </script>
{% endblock %}

